.playingMain {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    row-gap: 70px;
    margin-top: 40px;
}

.item-main {
    width: 100%;
}

.item-main:nth-child(4n + 1) {
    justify-self: start;
}

.item-main:nth-child(4n) {
    justify-self: end;
}

.hidden {
    display: none !important;
}

.playingMain .show-more-btn {
    grid-column: span 4;
    width: 120px;
    padding: 10px;
    margin: 0 auto;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1px;
}

.show-more-btn:hover {
    background-color: #007bff;
    color: white;
}
