.roomBox {
    margin-bottom: 50px;
}

.roomBox .roomName {
    display: inline-block;
    padding: 10px 14px;
    margin-bottom: 12px;
    border-radius: 6px;
    font-size: 18px;
    color: #e8f9ff;
    background: var(--border-color);
}
