.swiper {
    width: 100%;
    height: 300px;
    overflow: visible !important;
}

.customSlide {
    width: 100%;
    max-width: 780px;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

/* .swiper-slide img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.swiper-button-prev,
.swiper-button-next {
    color: var(--border-color);
    border-radius: 999px;
    width: 40px;
    height: 40px;
    z-index: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 30px;
    font-weight: 600;
    text-shadow: 0px -1px 1px #005cbb;
}

.swiper-button-prev {
    left: calc(50% - 430px);
    top: 50%;
    transform: translateY(50%);
}

.swiper-button-next {
    right: calc(50% - 430px);
    top: 50%;
    transform: translateY(50%);
}

.swiperPaginationBullet {
    width: 7px;
    height: 7px;
    background-color: gray;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.swiperPaginationBulletActive {
    background-color: white;
    opacity: 1;
}

.swiperPagination {
    bottom: -55px !important; /* Điều chỉnh khoảng cách so với slider */
}

.promotion {
    margin: 80px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1800px;
}

.promotion1,
.promotion2 {
    width: 450px;
    height: 80px;
    background-color: white;
}

.promotionImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
