.title {
  margin-bottom: 24px;
}

.comboContainer {
  padding: 24px;
}

.tableImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.inputField {
  margin-bottom: 16px;
}

.addButton {
  margin-bottom: 16px;
}

.softDeleted > td:not(:last-child) {
  opacity: 0.5;
  background-color: #f5f5f5 !important;
}

.softDeleted:hover > td:not(:last-child) {
  background-color: #f5f5f5 !important;
}