.addBtnForm {
    margin-bottom: 15px;
}

.title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.matrix {
    display: flex;
    gap: 5px;
}

.seat {
    width: 27px;
    padding: 4px 0;
    border-radius: 6px;
    text-align: center;
    font-size: 12px;
    background-size: cover;
    background-position: center;
}
