.info-movie {
    background-color: white;
    padding: 25px 20px 40px;
    margin-top: 20px;
    border: 3px solid #cbcbbe;
    clip-path: polygon(
        0% 3%,
        4% 3%,
        4% 0%,
        96% 0%,
        96% 3%,
        100% 3%,
        100% 97%,
        96% 97%,
        96% 100%,
        4% 100%,
        4% 97%,
        0% 97%
    );
}

.info-movie .booking-film {
    display: flex;
}

.info-movie .booking-film .film-image {
    width: 150px;
    height: 190px;
    background-color: green;
}

.booking-film .film-image .film-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-movie .booking-film .film-info {
    margin-left: 8px;
}

.booking-film .film-info .info-title {
    font-weight: 700;
    width: 220px;
    letter-spacing: 1px;
}

.booking-film .film-info .info-genres {
    margin-top: 5px;
}

.booking-film .film-info .info-genres .genre-item {
    font-size: 14px;
    padding: 1px 4px;
    background-color: #ececec;
    border-radius: 4px;
    border: 1px solid black;
}

.booking-film .film-info .info-sub {
    margin-top: 5px;
}

.info-movie .booking-detail {
    margin-top: 15px;
}

.info-movie .booking-seats .seat-item,
.info-movie .booking-combo .combo-item,
.info-movie .booking-total .total-info {
    display: flex;
    justify-content: space-between;
}

.seat-item .seat-info .seat-numbers {
    display: inline-flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}

.seat-item .seat-info .seat-numbers .seat-name {
    display: inline-block;
    max-width: 103px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.seat-item .seat-info .seat-count .number,
.seat-item .seat-info .seat-numbers .seat-name {
    font-weight: 700;
}

.seat-item .seat-price,
.booking-combo .combo-item .combo-price {
    font-weight: 600;
}

.info-movie .booking-total .total-info .total-label {
    font-weight: 700;
}

.info-movie .booking-total .total-info .total-price {
    color: var(--border-color);
    font-weight: 700;
    font-size: 18px;
}

.booking-combo .combo-item .number {
    font-weight: 700;
}
