.headerClient {
    max-width: 2500px;
    width: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row {
    height: 40px;
    border-bottom: 1px solid var(--border-color);
}

.slogan {
    margin-left: 10px;
}

.network {
    margin-right: 10px;
}

.iconNetwork {
    margin-left: 14px;
    margin-right: 5px;
    font-size: 20px;
}

.signUp {
    width: 120px;
    padding: 8px 0;
    text-align: center;
    border-left: 1px solid var(--border-color);
    text-decoration: none;
    color: black;
}

.signIn {
    width: 120px;
    padding: 8px 0;
    text-align: center;
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    line-height: 1.6;
    color: white;
}

.logoSearch {
    height: 60px;
    border-bottom: 1px solid var(--border-color);
}

.logo {
    width: 130px;
    height: 60px;
    background-color: #ff4715;
}

.boxProfile {
    gap: 8px;
    margin-right: 5px;
}

.avatar {
    background: var(--primary-color);
    color: var(--backgroud-product);
}

.sreach {
    width: 380px;
    margin-right: 20px;
}
