html,
body {
    position: relative;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Mulish", serif;
}
.cliptextTitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
}
