.title-addFilm {
    margin-bottom: 25px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--border-color);
}

.container-addFilm {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
}

.form-addFilm {
    width: 60%;
    margin-right: 15px;
}

.list-addFilm {
    width: 40%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.list-addFilm .list-product {
    width: 30%;
}

.input-label {
    font-weight: 500;
}

.addImage {
    background-color: #5cb338;
    padding: 6px 6px;
    border-radius: 6px;
    color: white;
    height: 38px;
    margin-right: 10px;
}

.addImage:hover {
    background-color: #8ee06b;
}

.addBtnForm {
    margin-bottom: 15px;
}

.custom-row {
    height: 67px;
}
.genresColumn {
    width: 180px;
}

.directorsColumn {
    width: 95px;
}

.list-addFilm .moviesNameOfImage {
    width: 140px;
    height: 170px;
    object-fit: cover;
    margin-bottom: 5px;
}

.list-addFilm .moviesNameOfTitle {
    font-weight: 500;
}
