.title-addFilm {
    margin-bottom: 25px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--border-color);
}

.container-addFilm {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.form-addFilm {
    width: 60%;
    margin-right: 15px;
}

.list-addFilm {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    width: 40%;
    height: 1000px;
    background-color: green;
}

.list-addFilm .list-product {
    width: 30%;
}

.input-label {
    font-weight: 500;
}

.addImage {
    background-color: #5cb338;
    padding: 8px 16px;
    border-radius: 6px;
    color: white;
    height: 38px;
    margin-right: 10px;
}

.addImage:hover {
    background-color: #8ee06b;
}

.addBtnForm {
    margin-bottom: 15px;
}

.custom-row {
    height: 67px;
}
.genresColumn {
    width: 180px;
}

.directorsColumn {
    width: 95px;
}
